body {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  text-align: center
}

.site-body {
  border: red 3px solid;
  width: 100vw;
  margin: 0;
}

.main-component {
  border: green 3px solid;
}

.cart-component {
  border: yellow 3px solid;
}

.brand-container {
  border: black 3px solid;
  border-radius: 15px;
  width: 400px;
  height: 180px;
}



.brand-image {
  /* width: 250px; */
  height: 130px
}

.model-image {
  width: 350px;
}