body {
  min-height: 100vh;
  text-align: center
}

.container {
  margin: 0 -15px;
}

.logo {
  height: 50px;
}

.site-body {
  border: darkslategray 3px solid;
  width: 100vw;
  height: 93.5vh;
  margin-left: 0;
}

.main-component {
  background-color: dimgray;
  /* border: green 3px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.brand-container {
  border: black 3px solid;
  background-color: teal;
  border-radius: 15px;
  width: 400px;
  height: 180px;
  margin: 30px 10px 10px 10px;
  padding: 10px;
}

.brand-listing p {
  color: darkslategray;
}

.single-brand-image {
  margin: 30px 0;
}

.brand-image {
  height: 130px
}

.models-list {
  border: black 3px solid;
  border-radius: 15px;
  margin: 30px 10px 10px 10px;
  width: 400px;
  background-color: white;
}

.single-model-component {
  /* border: aqua 3px solid; */
  margin: 30px 0;
}

.single-model-component img {
  border: darkslategray 3px solid;
}

.model-image {
  /* width: 350px; */
  width: 70%;
  margin-bottom: 20px;
}

.cart-heading {
  text-decoration: underline;
}

.cart-item {
  border: darkslategray 3px solid;
  border-radius: 10px;
  width: 30vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  background-color: white;
}

.cart-item img {
  max-width: 50%;
  height: 75%;
  border: darkslategray 2px solid;
}

.cart-component {
  border-left: darkslategray 3px solid;
  background-color: teal
}